{% extends "base.html" %}

{% block title %}Success Page{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Success</h1>
            <p>Thank you for your submission.</p>
        </div>
    </div>
</div>

<br> <br> <hr> <br>

{% if transactions %}

<h1>Transaction Details</h1>
{% for transaction in transactions %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Transaction Date: {{ transaction.date }}</p>
            <p>Transaction Amount: {{ transaction.expense }}</p>
            <p>Transaction Category: {{ transaction.category }}</p>
        </div>
    </div>
    <hr>
</div>
{% endfor %}

{% endif %}

{% endblock %}
